<div class="container align-items-top">


    <ul class="nav">
        <li class="nav-item" style="font-size:10px;">
            Copyright 1995-2022 eBay Inc. All Rights Reserved
            <button type="button" class="btn btn-default btn-sm">Accesibility,</button>
            <button type="button" class="btn btn-default btn-sm">User Agreement,</button>
            <button type="button" class="btn btn-default btn-sm">Privacy,</button>
            <button type="button" class="btn btn-default btn-sm">Cookies,</button>
            <button type="button" class="btn btn-default btn-sm">Do not sell my personal information</button>
            
            <button type="button" class="btn btn-default btn-sm ">AdChoice</button>
        </li>
    </ul>

</div>

