<div class="d-flex justify-content-center">
    
    <img src="/assets/check.png" style=height:20px>  <p class="text-right ">Stay signed in</p>
  s
    
</div>
<div class="d-flex justify-content-center">
    
    <p class="text-right ">Using a public or shared device?</p>
  
    
</div>
<div class="d-flex justify-content-center">

    <p class="text-right ">Uncheck to protect yourt account</p>
    
</div>

<div class="d-flex justify-content-center">
    <p class= "text-center text-primary"><u> Learn More </u></p>
</div>
 