<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
      ngModel name="email"
      required email>
      </div>
    
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"ngModel name="password"
      required password minlength="8">
    
    <button class="btn btn-primary" type="submit" [disabled] = "!authForm.valid" >Login</button> 
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>