<div class="row h-10">



    
    <div class="col-3">
        </div>
        <div class="d-flex justify-content-center col-3">
            <div class="row h-10">
                <div class="col-1">
                    <input class="form-control mr-sm-2" type="search" placeholder="First name" aria-label="Search">
                </div>

                <div class="col-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Last name" aria-label="Search">
                </div>
            </div>

            <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
            <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Search">
            </div>

            or

            
    <div class="d-flex justify-content-center col-3">
        
        <div class="" *ngFor="let button of buttons">
    <newButton img={{button.img}} text={{button.text}} color={{button.color}} textColor="{{button.textColor}}">

    </newButton>
</div>
        
    </div>
    
    <div class="col-3">
    </div>
    </div>