<div class="d-flex justify-content-end">
    <p class= "text-center">Already a member?</p> <p class= "text-center text-primary"><u> Sign In</u></p>
    </div>
    <img src="/assets/index.png" style=height:50px>

    <div class="d-flex justify-content-center">
    
        <h1 class="text-center font-weight-bold">Create an account</h1>
        
    </div>

    <div class="d-flex justify-content-center">
    
       <p class="font-weight-normal">Personal account or </p> <p class="font-weight-normal">Buisness account</p>

    </div>


  