<div class="row h-100">
    <div class="col-2">

    </div>

    <div class="col-2">

        <div class="card" style="height: 12rem;">

            <div class="card-body bg-danger">
                <h5 class="card-title text-white">Accessorise Your Phone</h5>
                <p class="card-text text-white">Up to 50% off with free shipping</p>
                <a href="#" class="btn btn-danger btn-outline-light">Shop Now -></a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/index.png" style=height:210px>
                </div>
                <div class="carousel-item">
                    <img src="/assets/watches.jpeg" style=height:210px>
                </div>
                <div class="carousel-item">
                    <img src="/assets/index.png" style=height:210px>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only text-danger">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only text-danger">Next</span>
            </a>
        </div>
    </div>