<div class="row h-100">
    <div class="col-2">

    </div>

    <div class="col-2">

        <div class="card" style="height: 20rem;">

            <div class="card-body bg-danger">
                <h5 class="card-title text-white h1">Accessorise your Phone</h5>
                <p class="card-text text-white pt-xl-5 pl-xl-4">Up to 50% off with free shipping</p>
                <a href="#" class="btn btn-danger btn-outline-light">Shop Now -></a>
            </div>
        </div>
    </div>
    <div class="col-8">
    <div class="d-flex p-2 bd-highlight">
        <div class="" *ngFor="let product of products">
            <newcard img={{product.img}} price={{product.price}} discount={{product.discount}}>

            </newcard>
        </div>
    </div>
    </div>
</div>
