<div class="row h-100">
    <div class="col-2">

    </div>

    <div class="col-2">

        <div class="card" style="height: 20rem;">

            <div class="card-body bg-danger">
                <h5 class="card-title text-white h1">Accessorise your Phone</h5>
                <p class="card-text text-white pt-xl-5 pl-xl-4">Up to 50% off with free shipping</p>
                <a href="#" class="btn btn-danger btn-outline-light">Shop Now -></a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="{{img}}" style=height:230px>
                          <h5 class="card-title">${{price}}</h5>
                          <p class="card-text">{{discount}}</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:230px>
                            <h5 class="card-title">199.99</h5>
                            <p class="card-text">no sale</p>

                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:230px>
                           <h5 class="card-title">199.99</h5>
                          <p class="card-text">no sale</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <img src="/assets/airpods.jpeg" style=height:200px>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon btn btn-primary" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon btn btn-primary" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>