<div class="d-flex justify-content-end">
    <p class="text-right text-info">Tell us what you think</p>
    </div>
    <img src="/assets/index.png" style=height:50px>

<div class="row h-10">



<div class="d-flex justify-content-center">
    
    <h1 class="text-center font-weight-bold">Hello</h1>
    
</div>
<div class="d-flex justify-content-center">
    
    <p class= "text-center">Sign into eBay or </p> <p class= "text-center text-primary"><u> create an account</u></p>
    
</div>
<div class="col-5">
    </div>
<div class="d-flex justify-content-center col-2">
    
    <input class="form-control mr-sm-2 text-left" type="search" placeholder="Email or Username" aria-label="Search">
    
</div>

<div class="col-5">
</div>
</div>

<div class="d-flex justify-content-center col-sm">
    
    <button type="button" class=" rounded-pill btn btn-primary btn-lg ">Continue</button>
    
</div>

<div class="d-flex justify-content-center col-sm">
    
    <p class="text-center">------------------or------------------</p>
    
</div>

 
    
