<div class="row h-100">
    <div class="col-2">
      
    </div>

    <div class="col-8">

      eBay > invest in quality time
        <div class="card mb-3 bg-primary" style="max-width: 1240px">
            <div class="row g-0">
            
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title text-white font-weight-bold">Invest in Quality Time</h5>
                  <p class="card-text text-white">10% off luxury watches $2,000+</p>
                  
                  
                  <p class="card-text text-white text-sm">Click to copy coupon</p>
                  <button type="button" class="btn btn-outline-light btn-lg text-center">Watchout</button>
                  <small>
                  <p class="card-text text-white ">max $500 off. 1x use. Ends 1/25<button type="button" class="btn btn-link text-white bn-sm">See Details,</button></p>
                  </small>
                </div>
              </div>
              <div class="col-md-8">
                <img src="/assets/watches.webp" class="img-fluid rounded-start" style=" height: 15rem;" alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="row h-100"></div>
    