
    <div class="row h-100">
        <div class="col-1">
        </div>
      
        <div class="col-4">

            Hi! Hit <button type="button" class="btn btn-link btn-sm" routerLink= 'SignIn'>Sign in</button> or <button type="button"
                class="btn btn-link btn-sm" routerLink= 'register'>Register</button>
            <button type="button" class="btn btn-default btn-sm" routerLink= 'admin'>Daily Deals</button>
            <button type="button" class="btn btn-default btn-sm" routerLink= 'brandOutlet'>Brand Outlet</button>
            <button type="button" class="btn btn-default btn-sm" routerLink= 'helpAndContact'>Help & Contact</button>
        </div>
        <div class="col-3">
        </div>

        <div class="col-4">

            <button type="button" class="btn btn-default btn-sm">Sell</button>
            
            <button type="button" class="btn btn-default btn-sm">Watchlist</button>
            <button type="button" class="btn btn-default btn-sm">My eBay</button>
            <button type="button" class="btn btn-default btn-sm"><img src="/assets/bell.png"
                    style=height:22px></button>
            <button type="button" class="btn btn-default btn-sm"><img src="/assets/shopping.png"
                    style=height:22px></button>

        </div>
        <span class="border border-grey"></span>
    </div>